.text_style{
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  padding-top: 30px;
}
.logo {
  margin-left: 80px;
  margin-right: 200px;
  font-weight: 900;
}
.icon {
  margin-right: 60px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
}
.icon_search {
  margin-right: 40px;
}
.section{
  padding-top: 40px;
}
.image_Comfortable {
  background-size: cover;
  background-color: rgba(46, 31, 130, 0.7);
}
.image_MUJISkincare {
  background-size: cover;
  margin-left: 0px;
}
.image_KitchenDining {
  background-size: cover;
}
.image_Fashion {
  background-size: cover;
}
.c2 {
  background-color: rgba(190, 236, 134, 0.422);
  background-size: cover;
  width: 200px;
  height: 400px; 
}
.c3 {
  background-color: rgba(13, 14, 12, 0.527);
  width: 190px;
  height:210px;
}
.c4 {
  background-color: rgba(112, 113, 111, 0.47);
  width: 190px;
  height:180px;
}
.h3 {
  font-size:large;
  font-weight: 700;
}
.h2 {
  padding-top: 0px;
  color: white;
  font-size:large;
  font-weight: 700;
}

.h4{
  padding-top: 70px;
  padding-left: 30px;
  font-weight: 700;
}
.slide_color{
  padding-right: 0px;
  background-color:#F0F0F0;
  background-size: cover;
  width: 150px;
  height: 180px;
}
.slider{
  margin-top: 30px;
  margin-left: 40px;
}
.image_Electronics{
 
  background-size: cover;
  margin-left: 10px;
}

.image_Furniture{
  
  background-size: cover;
  margin-left: 10px;
}
.image_Kitchendining{

  background-size: cover;
  margin-left: 10px;
}
.image_textiles{
 
  background-size: cover;
  margin-left: 10px;
}
.image_accessories{
  
  background-size: cover;
  margin-left: 10px;
}

.slide_btn{
  display: flex;
}
.slider_btn{
  margin-left: 285px;
  margin-right: 20px;
}

.button-left, .button-right{
  background-color: #191919;
  color: white;
  padding: 30px;
  padding-left: 30px;
  padding-right:30px ;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px; 
  border:none;
}
.button-left:hover, .button-right:hover, .button-slider-text:hover {
  background-color: rgba(114, 74, 15, 0.8);
}
.slider_point{
  padding-top: 33px;  
}
.point {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin:10px;
  margin-left: 25px;
}
.slider_text{
  padding-top: 40px;
  padding-left: 70px;
  font-weight: 700;
}
.button-slider-text{
  background-color:transparent;
  color: black;
  padding: 30px;
  padding-left: 40px;
  padding-right:40px ;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px; 
  border:none;
  border-radius: 40px;
}

.titre_menushop{
  font-size: large;
  font-weight: 700;
  padding-bottom: 30px;
}
.menu-text {
  background-color: #f9f8f4;
  
}

.h1{
  padding-top: 40px;
  font-size:200%;
  font-weight: 700;
  
}
.p1{
  padding-top: 20px;
  padding-bottom: 10px;
}

.menu_button {
  margin-top: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
}

.menu_image {
  padding-top: 20px;
  padding-left: 150px;
  padding-bottom: 20px;
}

.menu_shop {
  margin-top: 40px;
  margin-right: 90px;
}
.menu_shop-text2 {
  background-color: #DBF3FF;
  padding-bottom: 20px;
}
.menu_shop_image2 {
  padding-top: 20px;
}
.text2 {
  size: 10px;
  margin-left: 80px;
  margin-top: 40px;
  color: black;
  text-align: justify;
  
}

.menu_button:hover{
  background-color: #c48b10;
}
.footer{
  background-color: #191919;
  color: white;
  text-align: center;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 60px;
}
  
.footer_text{
  background-color:black;
  color: rgb(181, 178, 178);
  
}


.product {
  position: relative;
  padding: 20px;
  margin-top: 40px;
}
.product-category {
  padding-bottom: 20px;
  padding-left:  80px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;  
}
.pre-btn,
.nxt-btn {
  margin-left: 50px;
  margin-right: 50px;
  border: none;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.4;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.product_point{
  margin-top: 80px;
  margin-left: 500px;  
}